<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django API movie</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
<header class="container">
    <nav>
  <ul>
    <li><strong>Django API movie</strong></li>
  </ul>
  <ul>
    <li><a href="/api">API</a></li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="{%url 'swagger-ui' %}">Docs</a></li>
  </ul>
</nav>
</header>
<main class="container">
    <h1>Django API movie</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis iaculis lorem, a dictum lectus tincidunt ac. Donec iaculis, nibh sit amet consequat feugiat, risus ex condimentum sapien, rhoncus dignissim tellus risus vitae risus. In luctus orci et aliquam luctus. Nullam nec auctor arcu. Etiam fringilla dui nibh, in rhoncus odio fringilla eget. Cras pellentesque pharetra odio eu facilisis. Mauris sed risus eu magna finibus vestibulum. Proin leo neque, tincidunt a quam quis, sagittis ornare eros. Vivamus et pharetra sapien. Cras blandit ultricies orci, et cursus mauris hendrerit in. Aliquam ut interdum risus. Nam nec augue velit.

Proin eget nulla vehicula, fringilla erat quis, varius neque. Morbi auctor hendrerit enim ut bibendum. Aliquam tincidunt tincidunt sem, a eleifend sapien fermentum et. Ut tincidunt eleifend nunc, non volutpat est vestibulum eget. Nunc egestas lectus at tempus semper. Morbi sit amet nisl id nisi efficitur ultrices. Suspendisse scelerisque commodo ipsum, a sodales purus tincidunt sed. Praesent varius sapien sed maximus pretium. Pellentesque dapibus eros non molestie auctor. Praesent lacinia augue imperdiet eros varius gravida. Donec laoreet venenatis arcu non imperdiet.

    </p>


</main>



</body>
</html>